body {
  font-size: 1.2rem;
  overflow: hidden;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * TABLE
 */
table {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}
td, th {
  border: 1px solid #dddddd;
  text-align: center;
  font-size: 16px!important;
  font-weight: normal!important;
  vertical-align: middle!important;
  padding: 0.75rem!important;
}
tr:hover
{
  background-color: #DDDDDD!important;
}
.main
{
  position: absolute;
  top: 128px;
  bottom: 0;
  left: 0;
  right: 0;
}


#billing-table
{

  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: scroll;
}
.table-button
{
  font-size:25px;
  color: #0B98DE;
}
.sticky-top
{
  background: #cccccc;
  font-weight: bold!important;
}

.small-select
{
  min-width: 117px;
}
#error-modal-text
{
  white-space: pre-wrap;

}
#chargeReason
{
  width: 350px;
  resize: none;
}
.alert
{
  position: fixed;
  top: -80px;
  z-index: 5000;
  margin: auto;
  min-width: 400px;
}

